



#checkBody{
    width: 100vw;
    min-height: 900px;
    margin-top: 80px;
}

#subscription{
    height: 100px;
}
#address{
    height: 300px;
}
#paymentOption{
    height: 400px;
}


#cartSummary{
    height: 800px;
}































