



#checkBody{
    width: 100vw;
    min-height: 900px;
    margin-top: 80px;
}

#subscription{
    height: 100px;
}
#address{
    height: 300px;
}
#paymentOption{
    height: 400px;
}


#cartSummary_Main{
    
    height: 800px;
}
#displayItem{
    height: 60%;
}




#total_Div{
    
    bottom: 0;
    font-size: 2vw;
}

 





























