.hide{
    display: none!important;
}
.hide2{
    visibility: hidden!important;
}
.show{
    display: block!important;
}
.chageColor{
    color: red;
}
.blueColor{
    color: blue;
}

















