.hide{
    display: none!important;
}
.hide2{
    visibility: hidden!important;
}
.show{
    display: block!important;
}
.show2{
    visibility: visible!important;
}
.chageColor{
    color: red;
}
.blueColor{
    color: blue;
}

.required:before {
    content: "*";
    font-weight: bold;
    color: red;
}















