#footerSection{
    
 
    width: 100vw;
    height: 300px;
}
#footerTop{
    right: 0;left: 0;margin-right: auto;margin-left: auto;
    display: flex;
    justify-content:space-evenly;
    
    background-color: red;
    width: 90%;
}
#footerTop div{
    padding: 20px;
    width: 20%;
    height: 250px;
}