    nav{
        
        position: absolute;
        z-index: 100;
    }
    nav #navContainer{
        background-color: moccasin;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 100px;
        font-size: 1.3rem;
    }
    nav a{
        color: white;
        font-weight: bolder; 
    }
    .myLogo{
        padding-left: 70px;
    }
    nav #navPages{
        display: flex;
        border-left: none;
        
    }
    #navPages a{
        padding-left: 23px;
    }
    #navIcons{
        padding-right: 100px;
    }
    #navIcons a{
        padding-left: 12px;
    }
    #navIcons img{
        width: 30px;

    }
    nav a{
        text-decoration: none;
        margin-left: 10px;
    }